* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

:root {
  --background-color: #1f1d36;
  --secondBAckGround-color: #3f3351;
  --text-color: #e9a6a6;
}

html,
body {
  font-family: arial;
}

body {
  background-color: #1f1d36;
}

header {
  padding: 10px;
  background-color: #3f3351;
  text-align: center;
  margin-top: 10px;
}
header h1 {
  color: #e9a6a6;
}

h1.title {
  color: var(--text-color);
  width: 100%;
  text-align: center;
  padding: 15px 0;
  background-color: #181527;
  margin-top: 30px;
}

section.hide {
  display: none !important;
}

section.overAllTime,
section.timePerLap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 30px 0;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
section.overAllTime form,
section.timePerLap form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
  width: 80%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 500px;
}
section.overAllTime form input,
section.timePerLap form input {
  width: 100%;
  height: 40px;
  border-radius: 5px;
  border: none;
  padding: 10px;
  margin-bottom: 20px;
}
section.overAllTime form h2,
section.timePerLap form h2 {
  color: var(--text-color);
}
section.overAllTime form h2 span,
section.timePerLap form h2 span {
  color: white;
}
section.overAllTime form h2:last-child,
section.timePerLap form h2:last-child {
  margin-top: 10px;
  width: 100%;
  border-top: 1px solid white;
  padding-top: 5px;
}
section.overAllTime form h4,
section.timePerLap form h4 {
  color: white;
  margin-bottom: 4px;
  -ms-flex-item-align: start;
      -ms-grid-row-align: start;
      align-self: start;
}
